body {
  font-family: Arial, sans-serif;
  background-color: rgb(174, 234, 219);
}

.episodes-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode-card {
  width: 400px;
  border: 5px solid #064651dd;
  border-radius: 15px;
  justify-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  
}

.episode-card img{
  width: 100%;
  border: 3px solid #0f4e37dd;
  border-radius: 15px;
}
.episode-card h2{
  color: black;
  font-size: 1.5rem;
  border: 3px solid #0f4e37dd;
  border-radius: 15px;
  padding: 10px;
}

.episode-card p{
  color: black;
  font-size: 1rem;
}

.episode-card:hover {
  background-color: #e1ebb4;
}

#search {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #9fbd9b;
  border-radius: 15px;
  background-color: #f9f9f9;
}

#search:focus {
  background-color: #fff;
}

#select {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #9fbd9b;
  border-radius: 15px;
  background-color: #f9f9f9;
}